Repository serguei9090/Gusto: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-quality, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-quality:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bun x @biomejs/biome check --write {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run type-check
      stage_fixed: true

sidebar adjustment name
  src/assets/images/logo.png
  src/components/Sidebar.tsx
  src/features/settings/components/AboutDialog.tsx
  src/types/images.d.ts
Due: frontend-quality, typecheck

feat: Add CI/CD workflows and Changelog
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  src-tauri/tauri.conf.json
Due: frontend-quality

fix: Resolve unit test failures and lint errors for CI
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
  src/utils/__tests__/costEngine.test.ts
Due: frontend-quality, typecheck

fix(ci): Remove bun.lock in CI to fix Linux dependency module load error
  .github/workflows/ci.yml
Due: none

chore: Automate release notes and update README branding
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  package.json
  src-tauri/tauri.conf.json
Due: frontend-quality

fix(ci): Use official setup-biome action to solve binary resolution issues
  .github/workflows/ci.yml
  CHANGELOG.md
  package.json
Due: frontend-quality

fix(ci): Switch to Windows runner to solve Bun/Rollup native module issues
  .github/workflows/ci.yml
  CHANGELOG.md
Due: none

chore: Enforce LF line endings via .gitattributes to fix Biome in CI
  .gitattributes
Due: none

fix(release): Improve changelog extraction logic for release notes
  .github/workflows/release.yml
Due: none

fix(release): Release Body input parameter fix
  .github/workflows/release.yml
Due: none

fix(config): bump tauri version to match package.json (1.0.3)
  src-tauri/tauri.conf.json
Due: frontend-quality

recipe history
  docs/RECIPE_VERSIONING_GAPS.md
  docs/RECIPE_VERSIONING_IMPLEMENTATION.md
  docs/WIKI.md
  src/features/recipes/components/RecipeDetailModal.tsx
  src/features/recipes/components/RecipeHistory.tsx
  src/features/recipes/components/RecipeOverview.tsx
  src/features/recipes/components/RecipeTable.tsx
  src/features/recipes/components/RecipesPage.tsx
  src/features/recipes/services/recipes.repository.ts
  src/features/recipes/store/recipes.store.ts
  src/types/ingredient.types.ts
Due: frontend-quality, typecheck

sonar fix
  src/features/recipes/components/RecipeDetailModal.tsx
Due: frontend-quality, typecheck

recipe history
  docs/NEW_FEATURE_GAP_REPORT.md
  docs/RECIPE_VERSIONING_GAPS.md
  docs/RECIPE_VERSIONING_IMPLEMENTATION.md
  src/features/recipes/components/BulkRollbackDialog.tsx
  src/features/recipes/components/ExperimentBadge.tsx
  src/features/recipes/components/RecipeDetailModal.tsx
  src/features/recipes/components/RecipeHistory.tsx
  src/features/recipes/components/RecipeTable.tsx
  src/features/recipes/components/RecipesPage.tsx
  src/features/recipes/components/VersionDiffView.tsx
  src/features/recipes/services/recipeVersion.repository.ts
  src/features/recipes/services/recipes.repository.ts
  src/features/recipes/store/recipes.store.ts
  src/services/database/migrations/004_add_recipe_experiments.ts
  src/types/db.types.ts
  src/types/ingredient.types.ts
Due: frontend-quality, typecheck

chore: link pro modules submodule
  .gitmodules
  src/modules/pro/.gitkeep
Due: none

modular added
  README.md
  docs/WIKI.md
  src/lib/modules/registry.ts
  src/modules/all-modules.ts
  src/modules/core/README.md
  src/modules/core/dashboard/registry.ts
  src/modules/core/settings/sections/ModulesSection.tsx
  src/services/database/migrationManager.ts
  src/services/database/migrationRegistry.ts
  src/services/database/registerCoreMigrations.ts
Due: frontend-quality, typecheck

unitests
  coverage_output.txt
  src/modules/core/recipes/services/__tests__/recipes.repository.test.ts
  src/modules/core/recipes/services/recipes.repository.ts
  src/modules/core/settings/services/__tests__/currency.repository.test.ts
  src/modules/core/settings/store/__tests__/currency.store.test.ts
  src/modules/core/settings/store/currency.store.ts
  src/services/database/__tests__/migrationManager.test.ts
  src/services/database/__tests__/migrationRegistry.test.ts
  src/services/error/__tests__/errorManager.test.ts
  src/utils/__tests__/costEngine.test.ts
  src/utils/__tests__/currencyConverter.test.ts
Due: frontend-quality, typecheck

optimization build
  package.json
  src/App.tsx
  src/modules/core/dashboard/index.ts
  src/modules/core/dashboard/registry.ts
  src/modules/core/ingredients/index.ts
  src/modules/core/recipes/index.ts
  src/modules/core/settings/index.ts
  vite.config.ts
Due: frontend-quality, typecheck

versio nmanagement
  src-tauri/tauri.conf.json
  src/modules/core/settings/components/AboutDialog.tsx
  src/vite-env.d.ts
  vite.config.ts
Due: frontend-quality, typecheck

chore: bump version to 1.0.5 and implement build optimizations
  CHANGELOG.md
  package.json
  src-tauri/tauri.conf.json
Due: frontend-quality

fix(ci): use @ts-ignore with high-level biome-ignore
  src/modules/all-modules.ts
Due: frontend-quality, typecheck

fix(ci): use safe glob for pro modules and satisfy linter types
  src/modules/all-modules.ts
Due: frontend-quality, typecheck

style: fix biome linting and formatting in all-modules
  src/modules/all-modules.ts
Due: frontend-quality, typecheck

licence privacy and sonar
  LICENSE.md
  PRIVACY_POLICY.md
  TERMS_OF_SERVICE.md
  scripts/check_lucide.ts
  scripts/check_radix.ts
  src/modules/core/settings/components/AboutDialog.tsx
Due: frontend-quality, typecheck

fix: resolve SonarQube blocker and critical issues
  .agent/sonarqube-fixes-summary.md
  .env.example
  .gitignore
  .vscode/settings.json
  package.json
  sonar-project.properties
  src/lib/db.ts
  src/modules/core/prep-sheets/__tests__/prep-sheet-aggregation.test.ts
Due: frontend-quality, typecheck

docs: move SonarQube fixes summary to docs folder
  .agent/sonarqube-fixes-summary.md
Due: none

docs: remove incorrect summary file and update CHANGELOG
  CHANGELOG.md
Due: none

docs: clarify folder structure and update doc-sync skill
  .agent/FOLDER_STRUCTURE.md
  .agent/skills/sync-docs/SKILL.md
Due: none

refactor: reduce cognitive complexity in ingredients repository
  src/modules/core/ingredients/services/ingredients.repository.ts
Due: frontend-quality, typecheck

refactor: reduce function nesting in RecipeForm
  src/modules/core/recipes/components/RecipeForm.tsx
Due: frontend-quality, typecheck

refactor: fix second nesting issue in RecipeForm
  src/modules/core/recipes/components/RecipeForm.tsx
Due: frontend-quality, typecheck

docs: update SonarQube fixes summary and CHANGELOG
  CHANGELOG.md
Due: none

refactor: reduce cognitive complexity in recipeVersion.repository
  src/modules/core/recipes/services/recipeVersion.repository.ts
Due: frontend-quality, typecheck

docs: update CHANGELOG with complete SonarQube fixes
  CHANGELOG.md
Due: none

code refractoring
  CHANGELOG.md
  package.json
  src/App.tsx
  src/components/Sidebar.tsx
  src/components/templates/MainLayout/MainLayout.tsx
  src/lib/db.ts
  src/modules/core/ingredients/components/IngredientForm.tsx
  src/modules/core/ingredients/services/ingredients.repository.ts
  src/modules/core/ingredients/types.ts
  src/modules/core/inventory/components/InventoryHistoryModal.tsx
  src/modules/core/inventory/components/TransactionModal.tsx
  src/modules/core/recipes/components/RecipeForm.tsx
  src/modules/core/recipes/components/RecipeHistory.tsx
  src/modules/core/recipes/services/recipeVersion.repository.ts
  src/modules/core/settings/sections/ModulesSection.tsx
  src/services/database/migrationRegistry.ts
  src/utils/currencyConverter.ts
  tsconfig.json
Due: frontend-quality, typecheck
