Repository serguei9090/Gusto: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-quality, typecheck

frontend-quality:
  run: bun x @biomejs/biome check --write {staged_files}
  stage_fixed: true

typecheck:
  run: bun run type-check
  stage_fixed: true

soanr qube issue resolved
  sonar-project.properties
  src/modules/core/dashboard/services/dashboard.repository.ts
  src/modules/core/ingredients/components/IngredientForm.tsx
  src/modules/core/inventory/components/InventoryHistoryModal.tsx
  src/modules/core/settings/sections/ModulesSection.tsx
Due: frontend-quality, typecheck

adjusting for mobile route
  .agent/skills/mobile-ui-standards/SKILL.md
  package.json
  src/components/ui/dialog.tsx
  src/modules/all-modules.ts
  src/modules/core/settings/components/CategoryConfigModal.tsx
  src/modules/core/settings/components/UnitConfigModal.tsx
Due: frontend-quality, typecheck

open core mobile one code
  prompt.md
  src/App.tsx
  src/components/Sidebar.tsx
  src/components/layout/MobileHeader.tsx
  src/components/layout/MobileNav.tsx
  src/components/mobile/MobileCardList.tsx
  src/components/templates/MainLayout/MainLayout.tsx
  src/components/ui/data-card.tsx
  src/lib/mobile-registry.ts
  src/modules/all-modules.ts
  src/modules/core/calculators/CalculatorsPage.tsx
  src/modules/core/calculators/components/PlateCostSandbox.tsx
  src/modules/core/dashboard/components/DashboardPage.tsx
  src/modules/core/ingredients/components/IngredientForm.tsx
  src/modules/core/ingredients/components/IngredientTable.tsx
  src/modules/core/ingredients/components/IngredientsPage.tsx
  src/modules/core/inventory/components/InventoryHistoryModal.tsx
  src/modules/core/inventory/components/InventoryPage.tsx
  src/modules/core/inventory/components/TransactionModal.tsx
  src/modules/core/prep-sheets/components/PrepSheetBuilder.tsx
  src/modules/core/prep-sheets/components/PrepSheetView.tsx
  src/modules/core/prep-sheets/components/PrepSheetsPage.tsx
  src/modules/core/recipes/components/RecipeDetailModal.tsx
  src/modules/core/recipes/components/RecipeForm.tsx
  src/modules/core/recipes/components/RecipeHistory.tsx
  src/modules/core/recipes/components/RecipesPage.tsx
  src/modules/core/settings/SettingsPage.tsx
  src/modules/core/settings/components/AboutDialog.tsx
  src/modules/core/settings/components/AddCurrencyDialog.tsx
  src/modules/core/settings/components/AddExchangeRateDialog.tsx
  src/modules/core/settings/components/CategoryConfigModal.tsx
  src/modules/core/settings/components/UnitConfigModal.tsx
  src/modules/core/settings/pages/CurrencySettingsPage.tsx
  src/modules/core/settings/sections/ConfigSection.tsx
  src/modules/core/settings/sections/CurrencySection.tsx
  src/modules/core/settings/sections/GeneralSection.tsx
  src/modules/core/settings/sections/ModulesSection.tsx
  src/modules/core/suppliers/components/SupplierDetailModal.tsx
  src/modules/core/suppliers/components/SupplierForm.tsx
  src/modules/core/suppliers/components/SuppliersPage.tsx
Due: frontend-quality, typecheck

pro removed
  src/modules/core/settings/sections/ModulesSection.tsx
Due: frontend-quality, typecheck

ufi fix dektop mobile headers
  src/components/templates/MainLayout/MainLayout.module.css
  src/components/templates/MainLayout/MainLayout.tsx
  src/modules/core/calculators/CalculatorsPage.tsx
  src/modules/core/dashboard/components/DashboardPage.tsx
  src/modules/core/ingredients/components/IngredientsPage.tsx
  src/modules/core/inventory/components/InventoryPage.tsx
  src/modules/core/prep-sheets/components/PrepSheetsPage.tsx
  src/modules/core/recipes/components/RecipesPage.tsx
  src/modules/core/settings/SettingsPage.tsx
  src/modules/core/suppliers/components/SuppliersPage.tsx
Due: frontend-quality, typecheck

ui top improvement
  src/modules/core/inventory/components/InventoryPage.tsx
  src/modules/core/prep-sheets/components/PrepSheetsPage.tsx
  src/modules/core/recipes/components/RecipesPage.tsx
  src/modules/core/settings/SettingsPage.tsx
  src/modules/core/suppliers/components/SuppliersPage.tsx
Due: frontend-quality, typecheck

ui improvements backup db and welcome screen
  package.json
  prompt.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src/App.tsx
  src/components/onboarding/WelcomeScreen.tsx
  src/components/templates/MainLayout/MainLayout.module.css
  src/lib/i18n.ts
  src/lib/services/backup.service.ts
  src/locales/en/translation.json
  src/locales/es/translation.json
  src/modules/core/calculators/components/UnitSelect.tsx
  src/modules/core/prep-sheets/components/PrepSheetBuilder.tsx
  src/modules/core/settings/registerCoreSettings.ts
  src/modules/core/settings/sections/DataManagementSection.tsx
  src/modules/core/settings/sections/index.ts
Due: frontend-quality, typecheck

ui improvements
  src/components/ui/mobile-form-footer.tsx
  src/modules/core/ingredients/components/IngredientForm.tsx
  src/modules/core/ingredients/components/IngredientsPage.tsx
  src/modules/core/inventory/components/InventoryHistoryModal.tsx
  src/modules/core/inventory/components/TransactionModal.tsx
  src/modules/core/recipes/components/RecipeForm.tsx
  src/modules/core/recipes/components/RecipesPage.tsx
  src/modules/core/suppliers/components/SupplierForm.tsx
Due: frontend-quality, typecheck

translate
  src/locales/en/translation.json
  src/locales/es/translation.json
  src/modules/core/settings/sections/ModulesSection.tsx
Due: frontend-quality, typecheck

version 1.0.6
  package.json
  src-tauri/gen/android/app/build.gradle.kts
  src-tauri/gen/android/buildSrc/.kotlin/sessions/kotlin-compiler-2814878646848754932.salive
  src-tauri/tauri.conf.json
Due: frontend-quality

changelog
  CHANGELOG.md
Due: none

Sidebar native mobile
  .github/copilot-instructions.md
  CHANGELOG.md
  src-tauri/gen/android/buildSrc/.kotlin/sessions/kotlin-compiler-2814878646848754932.salive
  src/components/Sidebar.tsx
Due: frontend-quality, typecheck

feat: Configure Tauri for Android, add agent rules and skills, and introduce localization.
  .agent/rules/powershell.md
  .agent/skills/gpt-5-3-codex-coding/SKILL.md
  .agents/skills/gpt-5-3-codex-coding/SKILL.md
  .agents/skills/skill-creator/scripts/__pycache__/quick_validate.cpython-314.pyc
  .gitignore
  package.json
  src-tauri/gen/android/app/.gitignore
  src-tauri/gen/android/app/build.gradle.kts
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/Ipc.kt
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/Logger.kt
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/PermissionHelper.kt
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/RustWebChromeClient.kt
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/RustWebView.kt
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/RustWebViewClient.kt
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/TauriActivity.kt
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/WryActivity.kt
  src-tauri/gen/android/app/src/main/java/com/gusto/app/generated/proguard-wry.pro
  src-tauri/gen/android/app/src/main/java/com/gusto/desktop/MainActivity.kt
  src-tauri/gen/android/app/src/main/res/values/strings.xml
  src-tauri/gen/android/buildSrc/src/main/java/com/gusto/desktop/kotlin/BuildTask.kt
  src-tauri/gen/android/buildSrc/src/main/java/com/gusto/desktop/kotlin/RustPlugin.kt
  src-tauri/icons/icon.icns
  src-tauri/tauri.conf.json
  src/locales/en/translation.json
Due: frontend-quality

android release
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  package.json
  turbo.json
Due: frontend-quality

fix package manager
  package.json
Due: frontend-quality

agenticworkflow test
  .github/workflows/ci-failure-doctor.md
  .github/workflows/documentation-drift.md
Due: none

feat: add agentic workflows (ci-doctor & daily-doc-updater) and trigger ci failure for cloud test
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/agentics-maintenance.yml
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
  .github/workflows/ci-failure-doctor.md
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
  .github/workflows/documentation-drift.md
Due: frontend-quality

fix: improve ci-doctor config for cloud execution and model compatibility
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
  .github/workflows/copilot-setup-steps.yml
Due: none

fix: switch to supported agentic model (gpt-5.3-codex)
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
Due: none

feat(ci-doctor): enable autofix with edit and create-pull-request
  .github/workflows/ci-doctor.lock.yml
  .github/workflows/ci-doctor.md
Due: none

fix(ci): rename turbo.json pipeline to tasks
  turbo.json
Due: frontend-quality

agent-workflow md
  .github/agents/agentic-workflows.agent.md
Due: none

ci android
  .github/workflows/release.yml
Due: none

Ingredient refractor ui and rcipe part 1
  .github/workflows/cd-doctor.lock.yml
  .github/workflows/cd-doctor.md
  ingredient_form_reorg_plan.md
  package.json
  src/components/ui/accordion.tsx
  src/modules/all-modules.ts
  src/modules/core/ingredients/components/IngredientForm.tsx
  src/modules/core/recipes/components/RecipeForm.tsx
  src/modules/core/recipes/services/recipes.repository.ts
  src/services/database/registerCoreMigrations.ts
  src/types/db.types.ts
  src/types/ingredient.types.ts
  src/utils/validators.ts
  ui_improvement.md
Due: frontend-quality, typecheck

master inventoryingredient integrated
  src/components/Sidebar.tsx
  src/modules/core/ingredients/components/IngredientForm.tsx
  src/modules/core/ingredients/components/UnitSelect.tsx
  src/modules/core/inventory/components/AssetForm.tsx
  src/modules/core/inventory/components/AssetTable.tsx
  src/modules/core/inventory/components/InventoryHistoryModal.tsx
  src/modules/core/inventory/components/InventoryPage.tsx
  src/modules/core/inventory/components/LowStockModal.tsx
  src/modules/core/inventory/components/TransactionModal.tsx
  src/modules/core/inventory/services/assets.repository.ts
  src/modules/core/inventory/services/inventory.repository.ts
  src/modules/core/inventory/store/assets.store.ts
  src/modules/core/inventory/store/inventory.store.ts
  src/modules/core/recipes/components/RecipeForm.tsx
  src/modules/core/settings/components/UnitConfigModal.tsx
  src/modules/core/settings/store/settings.store.ts
  src/services/database/migrations/20260213_create_assets_table.ts
  src/services/database/registerCoreMigrations.ts
  src/types/asset.types.ts
  src/types/db.types.ts
  src/utils/validators.ts
Due: frontend-quality, typecheck

Old ingredient deleted
  src/App.tsx
  src/components/Sidebar.tsx
  src/components/layout/MobileNav.tsx
  src/modules/all-modules.ts
  src/modules/core/settings/store/settings.store.ts
Due: frontend-quality, typecheck

Inventory Record Transaction fixed
  src/modules/core/inventory/components/AssetTable.tsx
  src/modules/core/inventory/components/InventoryPage.tsx
  src/modules/core/inventory/components/InventoryTable.tsx
  src/modules/core/inventory/components/ItemSelector.tsx
  src/modules/core/inventory/components/TransactionModal.tsx
Due: frontend-quality, typecheck

CSS refactoring and UX improvements.
  src/components/layout/MobileNav.tsx
  src/components/templates/MainLayout/MainLayout.module.css
  src/components/templates/MainLayout/MainLayout.tsx
  src/modules/core/ingredients/components/IngredientForm.tsx
  src/styles/index.css
Due: frontend-quality, typecheck

Decimal Input Bug
  src/modules/core/ingredients/components/IngredientForm.tsx
  src/utils/validators.ts
Due: frontend-quality, typecheck

performance, logic, and safety, and card inventory
  src/modules/core/inventory/components/InventoryPage.tsx
  src/modules/core/recipes/components/RecipeForm.tsx
  src/utils/conversions.ts
  src/utils/costEngine.ts
Due: frontend-quality, typecheck

cancel button standarization
  src/components/ui/dialog.tsx
  src/modules/core/inventory/components/InventoryHistoryModal.tsx
  src/modules/core/inventory/components/LowStockModal.tsx
  src/modules/core/inventory/components/TransactionModal.tsx
  src/modules/core/recipes/components/RecipeDetailModal.tsx
  src/modules/core/settings/components/CategoryConfigModal.tsx
  src/modules/core/settings/components/UnitConfigModal.tsx
Due: frontend-quality, typecheck

assets fix plus history
  src/modules/core/dashboard/services/dashboard.repository.ts
  src/modules/core/inventory/components/InventoryHistoryModal.tsx
  src/modules/core/inventory/components/InventoryPage.tsx
  src/modules/core/inventory/components/TransactionModal.tsx
  src/modules/core/inventory/services/inventory.repository.ts
  src/services/database/client.ts
  src/services/database/registerCoreMigrations.ts
  src/types/ingredient.types.ts
  src/utils/validators.ts
Due: frontend-quality, typecheck

fixes
  src/components/organisms/AssetForm.tsx
  src/components/organisms/IngredientForm.tsx
  src/components/organisms/InventoryHistoryModal.tsx
  src/components/organisms/LowStockModal.tsx
  src/components/organisms/RecipeForm.tsx
  src/components/organisms/SupplierDetailModal.tsx
  src/components/organisms/SupplierForm.tsx
  src/components/organisms/TransactionModal.tsx
  src/components/organisms/UnitConfigModal.tsx
  src/components/ui/mobile-form-footer.tsx
Due: frontend-quality, typecheck

Dashboard rearange and management
  package.json
  src/components/molecules/DashboardWidgetRow.tsx
  src/components/molecules/SortableWidgetWrapper.tsx
  src/components/organisms/DashboardWidgetManager.tsx
  src/components/pages/DashboardPage/DashboardPage.tsx
  src/modules/core/dashboard/registry.ts
  src/modules/core/dashboard/store/dashboard-config.store.ts
Due: frontend-quality, typecheck

standard close button
  src/components/organisms/InventoryBreakdownModal.tsx
  src/components/organisms/InventoryModalsOverlay.tsx
  src/components/organisms/ValueBreakdownModal.tsx
Due: frontend-quality, typecheck

gusto audit skill
  .agent/skills/gusto-auditor/SKILL.md
  .agent/skills/gusto-auditor/references/inventory_math.md
  .agent/skills/skill-creator/scripts/__pycache__/quick_validate.cpython-313.pyc
  gusto-auditor.skill
Due: none

daily doc update
  .github/workflows/daily-doc-updater.lock.yml
  .github/workflows/daily-doc-updater.md
Due: none

Path conditions:
  frontend-quality: any of: *.{js,ts,jsx,tsx,json}
  typecheck: any of: *.{ts,tsx}
